Makefile
Makefile.in
configure
libtool
config
config.status
config.log
aclocal.m4
autom4te.cache
*.o
*.gcno
*.class
*.ncb
*.lo
*.loT
*.la
*.html
*.pdf
*.ps
.*
*~
.*~
tests/test_pair_inproc
tests/test_pair_ipc
tests/test_pair_tcp
tests/test_reqrep_inproc
tests/test_reqrep_ipc
tests/test_reqrep_tcp
tests/test_shutdown_stress
tests/test_hwm
tests/test_timeo
src/platform.hpp*
src/stamp-h1
devices/zmq_forwarder/zmq_forwarder
devices/zmq_queue/zmq_queue
devices/zmq_streamer/zmq_streamer
perf/local_lat
perf/local_thr
perf/remote_lat
perf/remote_thr
perf/inproc_lat
perf/inproc_thr
doc/*.1
doc/*.3
doc/*.7
doc/*.html
doc/*.xml
src/libzmq.pc
bin/
lib/
builds/msvc/*.suo
builds/msvc/*/*.user
builds/msvc/*/Debug
builds/msvc/*/Release
foreign/openpgm/*
!foreign/openpgm/*.tar.bz2
!foreign/openpgm/*.tar.gz
!foreign/openpgm/Makefile.am
zeromq-*.tar.gz
zeromq-*.zip
