INSTALL
Makefile
Makefile.in
configure
libtool
config
config.status
config.log
aclocal.m4
autom4te.cache
*.o
*.class
*.ncb
*.lo
*.loT
*.la
*.html
*.pdf
*.ps
.*
*~
.*~
src/platform.hpp*
src/stamp-h1
devices/zmq_forwarder/zmq_forwarder
devices/zmq_queue/zmq_queue
devices/zmq_streamer/zmq_streamer
perf/local_lat
perf/local_thr
perf/remote_lat
perf/remote_thr
doc/*.1
doc/*.3
doc/*.7
doc/*.html
doc/*.xml
src/libzmq.pc
lib/
builds/msvc/*.suo
builds/msvc/*/*.user
builds/msvc/*/Debug
builds/msvc/*/Release
foreign/openpgm/*
!foreign/openpgm/*.tar.bz2
!foreign/openpgm/*.tar.gz
zeromq-*.tar.gz
zeromq-*.zip
