Ahmet Kakici <ahmet.kakici@pro-line.com.tr> ahmet <ahmet.kakici@pro-line.com.tr>
Andrey Sibiryov <me@kobology.ru> Kobolog <me@kobology.ru>
Brian Knox <taotetek@gmail.com> taotetek <taotetek@users.noreply.github.com>
Chernyshev Vyacheslav <astellar@ro.ru> Astellar <astellar@ro.ru>
Chris Laws <clawsicus@gmail.com> Chris Laws <claws@localhost>
Chris Staite <chris@yourdreamnet.co.uk> Chris <chris@yourdreamnet.co.uk>
Christoph Zach <czach@rst-automation.com> czach <czach@rst-automation.com>
Chuck Remes <git@chuckremes.com> Chuck Remes <cremes@mac.com>
Chuck Remes <git@chuckremes.com> Chuck Remes <cremes.devlist@mac.com>
Constantin Rack <constantin.rack@gmail.com> Constantin Rack <constantin@rack.li>
Constantin Rack <constantin.rack@gmail.com> Constantin Rack <c-rack@users.noreply.github.com>
Daniel Krikun <krikun.daniel@gmail.com> danielkr <krikun.daniel@gmail.com>
Daiyu Hurst <daiyu.hurst@gmail.com> DaiyuHurst <daiyu.hurst@gmail.com>
Diego Rodriguez-Losada <diego.rlosada@gmail.com> Diego <diego.rlosada@gmail.com>
Dongmin Yu <miniway@gmail.com> Min(Dongmin Yu) <miniway@gmail.com>
Doron Somech <somdoron@gmail.com> somdoron <somdoron@gmail.com>
Elliot Saba <staticfloat@gmail.com> staticfloat <staticfloat@gmail.com>
Eric Voskuil <eric@voskuil.org> evoskuil <eric@voskuil.org>
Eric Voskuil <eric@voskuil.org> anonymous <eric@voskuil.org>
Felipe Farinon <felipe.farinon@powersyslab.com> psl-felipefarinon <felipe.farinon@powersyslab.com>
Frank Hartmann <soundart@gmx.net> Frank <soundart@gmx.net>
Gian Lorenzo Meocci <glmeocci@gmail.com> meox <glmeocci@gmail.com>
Hardeep Singh <hshardeesi@gmail.com> Hardeep <hshardeesi@gmail.com>
Henrik Feldt <henrik@haf.se> Henrik <henrik@haf.se>
Huang Xin <chrox.huang@gmail.com> chrox <chrox.huang@gmail.com>
Ian Barber <ian.barber@gmail.com> Ian Barber <ianbarber@google.com>
Jens Auer <jens.auer@cgi.com> Jens Auer <jens-auer@users.noreply.github.com>
Jens Auer <jens.auer@cgi.com> Jens Auer <jens.auer@betaversion.net>
Joe Eli McIlvain <joe.eli.mac@gmail.com> Joe McIlvain <joe.eli.mac@gmail.com>
Jos Decoster <jos.decoster@gmail.com> jdc8 <jos.decoster@gmail.com>
Jos Decoster <jos.decoster@gmail.com> Jos Decoster <jos.decoster@retarget.com>
Joshua Gao <jmg116@gmail.com> Josh Gao <jgao@mobileiron.com>
Jörg Kreuzberger <joerg@kreuzberger.eu> kreuzberger <joerg@kreuzberger.eu>
Arnaud Kapp <kapp.arno@gmail.com> Kapp Arnaud <kapp.arno@gmail.com>
Arnaud Kapp <kapp.arno@gmail.com> KAPP Arnaud <kapp.arno@gmail.com>
Arnaud Kapp <kapp.arno@gmail.com> KAPP Arnaud <xaqq@users.noreply.github.com>
Kenneth Wilke <kenneth.wilke@rackspace.com> KennethWilke <kenneth.wilke@rackspace.com>
Kevin Sapper <mail@kevinsapper.de> sappo <mail@kevinsapper.de>
Kevin Sapper <mail@kevinsapper.de> Kevin Sapper <sappo@users.noreply.github.com>
Leonard Michelet <leonard.michelet@openwide.fr> leonarf <leonard.michelet@openwide.fr>
Martijn Jasperse <m.jasperse@gmail.com> mjasperse <m.jasperse@gmail.com>
Martin Hurton <hurtonm@gmail.com> Martin Hurtoň <hurtonm@gmail.com>
Martin Lucina <martin@lucina.net> Martin Lucina <mato@kotelna.sk>
Martin Sustrik <sustrik@250bpm.com> Martin Sustrik <sustrik@fastmq.commkdir>
Martin Sustrik <sustrik@250bpm.com> Martin Sustrik <sustrik@fastmq.com>
Martin Sustrik <sustrik@250bpm.com> sustrik <sustrik@250bpm.com>
Martin Sustrik <sustrik@250bpm.com> Martin Sustrik <sustrik@jozsi.(none)>
Martin Sustrik <sustrik@250bpm.com> unknown <sustrik@.(none)>
Martin Sustrik <sustrik@250bpm.com> Martin Sustrik <sustrik@turist.(none)>
Maurice Barnum <msb@yahoo-inc.com> maurice barnum <msb@yahoo-inc.com>
Maurizio Melato <maurizio.melato@nice-software.com> unknown <mauri@okinawa.(none)>
Max Skaller <Max.Skaller@gmail.com> skaller <Max.Skaller@gmail.com>
Michael Fox <415fox@gmail.com> m <415fox@gmail.com>
Michael Hand <mipa@matrix.by> Mipa <mipa@matrix.by>
Michel Zou <xantares10@hotmail.com> xantares <xantares09@hotmail.com>
Mikael Helbo Kjaer <mhk@designtech.dk> Mikael Helbo Kjær <mhk@designtech.dk>
Mike Gatny <mgatny@gmail.com> Mike Gatny <mgatny@connamara.com>
Mikko Koppanen <mikko.koppanen@gmail.com> Mikko Koppanen <mkoppanen@php.net>
Mikko Koppanen <mikko.koppanen@gmail.com> Mikko Koppanen <mikko@kuut.io>
Mikko Koppanen <mikko.koppanen@gmail.com> Mikko Koppanen <mkoppanen@gameboy.config>
Min RK <benjaminrk@gmail.com> MinRK <benjaminrk@gmail.com>
Min RK <benjaminrk@gmail.com> Min Ragan-Kelley <benjaminrk@gmail.com>
Montoya Edu <montoya.edu@gmail.com> montoyaedu <montoya.edu@gmail.com>
Nikita Kozlov <nikita@elyzion.net> nikita kozlov <nikita@elyzion.net>
Pavol Malosek <malosek@fastmq.com> malosek <malosek@fastmq.com>
Pieter Hintjens <ph@imatix.com> Pieter Hintjens <ph@itmatix.com>
Reza Ebrahimi <reza.ebrahimi.dev@gmail.com> reza.ebrahimi <reza.ebrahimi.dev@gmail.com>
Ricardo Catalinas Jiménez <r@untroubled.be> Ricardo Catalinas Jiménez <jimenezrick@gmail.com>
Rohan Bedarkar <rohanb@cs.uchicago.edu> rohanbedarkar <rohanb@cs.uchicago.edu>
Rohan Bedarkar <rohanb@cs.uchicago.edu> Rohan <rbe@ws5-34-chi.rtsgroup.net>
Sergey KHripchenko <shripchenko@intermedia.net> root <root@ast-pbx-mt-3.intermedia.net>
Sergey KHripchenko <shripchenko@intermedia.net> shripchenko <shripchenko@intermedia.net>
Sergey M. <dstftw@gmail.com> Sergey M․ <dstftw@gmail.com>
Steven McCoy <steven.mccoy@miru.hk> Steve-o <fnjordy@gmail.com>
Tamara Kustarova <kustarova@fastmq.com> tamara <tamara@jozsi.(none)>
Timothee Besset <ttimo@ttimo.net> Timothee "TTimo" Besset <ttimo@ttimo.net>
Timothy Mossbarger <tim@ent.net> Tim M <tim@ent.net>
Trevor Bernard <trevor.bernard@gmail.com> Trevor Bernard <tbernard@liveops.com>
Trevor Bernard <trevor.bernard@gmail.com> Trevor Bernard <trevor.bernard@userevents.com>
Volodymyr Korniichuk <VolodymyrKorn@gmail.com> Volodymyr Korniichuk <9173519@gmail.com>
lysyloren <lysy_loren@gmail.com> lysyloren <lysy.loren@gmail.com>
