<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="libzmq_vc120" target="libzmq" version = "4.2.20.1" pathversion="4_2_20_1" platformtoolset="v120">
  <!--<dependency id="libsodium_vc120" version="1.0.12.0" />-->
</package>