<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="libzmq_v120" target="libzmq" namespace="libzmq12" version = "4.1.0.0" pathversion="4_1_0_0" platformtoolset="v120" />