<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>libzmq-static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02A6720DDF41434794C95DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0586ABA9F1D14CEDB0E8F29B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>090F91E59A334682AE2DF3B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1291780CAE9C4D94A25ED132</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12F35BCEC3784CA9A08038D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15C92D8ED5CD4BB19E5583C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>187B51707DAE4785A3F18A09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD06E53CB524A6E9BEC0D62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6618FAC0F24EE991AFA8A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205CA8CE867546AC8BC272C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>207E64C420064CF6A63CCEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2544F1F6F36A4313B2E41B4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27CB7E3FF1C34E35ADC5DDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A452AEAF4684C119BE655CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A73B4853DEF423AB25459AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DF103F276904E63B1112D8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6AB86C200B4A3BABBAB425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>304317FD06F4410EBF22E203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3776B923DB7441858F7DB744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>382C67CCC82249BFAB7005BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38C360421B1F40999648F112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B3CA1D6FED14749B4ACFAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40B3CA42E1AB42FC8958961B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47255512C3A543D7B2F3BFF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4848BF4B1C6A456BB8CC42BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48CBDC0EF90D4C4E9E455A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49393B644B0747F3B866E14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B3A4228EFC463BA3C085AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DD1C293BE4644E19FD52EF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F84F5396483427FA8A42C44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D7A9D528924CFEB2CCD2DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531DA887BE9B48BD97E812F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5525ECA84AA840F29E82FE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56F83335F9A2478E96280A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58C29A8FBC4B48DB859348B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A78633C1F7D43758CAC58EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D74CC2F9A6E4FB5A39EF162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>620CFD4D393F4683B0388CA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>635A6FBE2E5744EFBB414503</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63A69AF7CFC94D85AEF92CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640142F627E348DBA63E7A16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C0E91420F284781A8A26F8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>717076D031BA4431B532C898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74073223817A42AFA8B86200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>747A0FE3981549F3BE26FFA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7709F34A566E4E70BA4A6591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>775C7399CC6C4CA59E534658</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A73FF7C1F014FE8B6E8A9C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7AD2064FD65D462DB22DC0F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C00B8484A2E4C6382093713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C9A4833FB9D4FC386F4601B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82A3214CD05741408C85FDAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846C7BF4549641A3A83F2557</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84E37C03054340ACB82C3933</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>878327F788B842F194CBF4D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D7CE0B76D9549B6B7DD2AE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB1297CBE874C358ED4BD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DCEA03CE52A44109AAC2733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F8A96026514383994A86C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9160A46E13CE4AA2BF15485B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>962B2E9F440C46A5B37F259B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>979D5934C8E2493EBA6619DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AE3BB14F31B473E9C5E83D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C375DA638B44052A419DAF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D29AD92B1A84CBDB94D0DC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F810DD7BC5C4F3CB6DD6723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FBFD700BC24D9AA0A1CC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26BC414D8B9458EB4358C72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A365A9133DCB4A51ADD35EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5DDCDCB04D6494985DB0E8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6342D412033454E8DAD8C0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A71D554F142E42BEB8E545B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC1B35D04150421FAD75FE66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC549EBE0CF74268B24D8436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC88C7B22900489AA45AD880</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD4C3F66EA884F128D240AC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B25C1E3B76F249AFBC131BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E13D71DCA54D8C9FAC6B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D3B8105ED04F1CB63E10EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAB5582ADB094F6095472349</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1C6EC65C654240999017B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEF45CA2C12C49F7AA92CE8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFD0D5F1BA504E0AAE38333A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C19EE88262314C3F836D1BFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5EA7AFAA6F54F85B060E526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C657BDBE1F854AE9978696A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C884FE297A7E4F008E07E246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95FB0AD26B74B4486C94F2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC184F63B9BC49738F54E650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC73AF02FA8A4146930EBC9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE8CF9F122EC4E23AD41FB47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF88E2A67EC2467D8DF6338C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D98DF72F26C74497B0071769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA6186B56CF94AE1A1455049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB172A5860C64020B448D663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD350E3B3FD04150A2F6E144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD48D8E2D9104D2F9D95F711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF88F3F42C974F07A5E8EBBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2EBD234B3B94823B56010F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C57AF07293446AA3BF95C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81D8A406BF4480AA12C0CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8DBE0F527E84DB18A73D264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE7D35328D35440ABD7332DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F140FF1EA06547B8B9F8BA4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3491B5704AE4A2EA2D32991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F497D83FFA4E41B785170468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5215AC1D15046D9B8BAB7CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6BA61997383470C9F5F78F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F873BD5073FA46919846C7FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9AA790FFFC6443EA14DDF1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA845D43F25A4CD5B013999A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAAE90FCBB13405BB0D9E6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD875413FF2C439081EF30A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
